doctype html
html
  head
    title Hashim Dance Academy
    block scripts
        include ../static/index.js
    block style
        include ../static/style.css
  body
    nav#navbar
        ul
         div#logo
                img(src="/static/logo.png")
                | HDA
         li #[a(href="/") Home]
         li #[a(href="/") About]
         li #[a(href="/") Services]
         li #[a(href="/") Class Info]
         li #[a(href="/contact") Contact Us]
    block content
    footer#footer    
      | Copyright © 2023 HashimDanceAcademy.com | All rights reserved

      